In [2]:
import pandas as pd

### Example - NBA

In [3]:
# Creating the dataframe 
df = pd.read_csv("nba.csv") # https://media.geeksforgeeks.org/wp-content/uploads/nba.csv

In [4]:
# Print the dataframe
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(458, 9)

In [7]:
df.mean(axis = 0, skipna = True)

Number    1.767834e+01
Age       2.693873e+01
Weight    2.215230e+02
Salary    4.842684e+06
dtype: float64

In [5]:
# skewness along the index axis
df.skew(axis = 0, skipna = True)

Number    1.668386
Age       0.626349
Weight    0.113788
Salary    1.576321
dtype: float64

Pandas dataframe.skew() function return unbiased skew over requested axis Normalized by N-1. Skewness is a measure of the asymmetry of the probability distribution of a real-valued random variable about its mean.

Skewness is a measure of asymmetry of a distribution. Another measure that describes the shape of a distribution is kurtosis.
In a normal distribution, the mean divides the curve symmetrically into two equal parts at the median and the value of skewness is zero.
* When a distribution is asymmetrical the tail of the distribution is skewed to one side-to the right or to the left.
* When the value of the skewness is negative, the tail of the distribution is longer towards the left hand side of the curve.
* When the value of the skewness is positive, the tail of the distribution is longer towards the right hand side of the curve.

### Another example

In [12]:
dataVal = [(10,20,30,40,50,60,70),

           (10,10,40,40,50,60,70),

           (10,20,30,40,50,60,80)]

df2 = pd.DataFrame(data=dataVal)

In [13]:
df2.mean(axis = 1, skipna = True)

0    40.000000
1    40.000000
2    41.428571
dtype: float64

In [14]:
df2.skew(axis = 1, skipna = True)

0    0.000000
1   -0.340998
2    0.367277
dtype: float64

* A skewness value of 0 in the output denotes a symmetrical distribution of values in row 1.
* A negative skewness value in the output indicates an asymmetry in the distribution corresponding to row 2 and the tail is larger towards the left hand side of the distribution.
* A positive skewness value in the output indicates an asymmetry in the distribution corresponding to row 3 and the tail is larger towards the right hand side of the distribution.

### References
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.skew.html
* https://www.geeksforgeeks.org/python-pandas-dataframe-skew/
* https://pythontic.com/pandas/dataframe-computations/skew